<template>
  <div>
    <v-flex xs12>{{child}}<br>{{selection}}<br>
      <template v-for="item in as">
        <v-chip class="ma-2" color="teal" text-color="white" close @input="remove(item)">
          
          {{ item.name }}
        </v-chip>
      </template>
    </v-flex>
    <v-text-field class="primary lighten-2" v-model="search" label="Xidmət axtar" dark flat solo-inverted hide-details
      clearable></v-text-field>
    <!--<v-checkbox v-model="caseSensitive" dark hide-details label="Case sensitive search"></v-checkbox>-->
    <v-layout>
      <v-flex>
        <v-card class="pt-6 mx-auto" flat>
          <v-treeview transition dense open-on-click :active.sync="active" activatable v-model="selection" return-object
            :selection-type="selectionType" :items="items" :search="search" :filter="filter" :open.sync="open">
            <template v-slot:append="{ item, open, active }">
              <v-icon v-if="active" @click="setDialog(item)">
                add
              </v-icon>
            </template>
          </v-treeview>
        </v-card>
      </v-flex>
    </v-layout>
    <v-flex xs4 offset-xs7 offset-sm9>
      <v-layout>
        <v-flex xs6 class="mt-4">
          <h3>{{totalPrice}} AZN</h3>
        </v-flex>
        <v-flex xs6>
          <v-btn class="ma-2" color="primary lighten-1 " @click="" fab>
            <router-link to="/customer-calendar" class="white--text" style="text-decoration: none;">
              <v-icon>done</v-icon>
            </router-link>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
    <asdb></asdb>
  </div>
</template>

<script>
  import { eventBus } from '../eventbus'
  import asdb from '../components/AddServiceDialogBox'
  export default {
    components: {
      asdb,
    },
    data() {
      return {
        description: 'Menim description',
        time: '5',
        price: '15',
        open: [],
        search: null,
        caseSensitive: false,
        rating: 3,
        selectionType: 'leaf',
        selection: [],
        active: [],
        child: [],
        items: [
          {
            id: 2,
            name: 'Sac',
            children: [
              {
                id: 201,
                name: 'Kəsim',
                description: 'Kəsim well meaning and kindly "a benevolent smile"',
                price: '5',
                time: '20',
              },
              {
                id: 202,
                name: 'Rənglənmə',
                description: 'Rənglənmə well meaning and kindly "a benevolent smile"',
                price: '15',
                time: '15',
              },
              {
                id: 203,
                name: 'Fen',
                description: 'Fen well meaning and kindly "a benevolent smile"',
                price: '10',
                time: '10',
              }
            ],
          },
          {
            id: 3,
            name: 'Əl',
            children: [
              {
                id: 301,
                name: 'Dirnaq',
                description: 'Dirnaq well meaning and kindly "a benevolent smile"',
                price: '2',
                time: '5',
              },
              {
                id: 302,
                name: 'Pedikur',
                description: 'Pedikur well meaning and kindly "a benevolent smile"',
                price: '15',
                time: '15',
              },
            ],
          },
          {
            id: 4,
            name: 'Üz',
            children: [
              {
                id: 401,
                name: 'Gunluk makiyaj',
                description: 'Gunluk makiyaj well meaning and kindly "a benevolent smile"',
                price: '3',
                time: '15',
              },
              {
                id: 402,
                name: 'Dodaq',
                description: 'Dodaq well meaning and kindly "a benevolent smile"',
                price: '10',
                time: '5',
              },
              {
                id: 403,
                name: 'Qas',
                description: 'Qas well meaning and kindly "a benevolent smile"',
                price: '5',
                time: '20',
              },
            ],
          },

        ],
        open: [],
        search: null,
        caseSensitive: false,
      };
    },
    computed: {
      filter() {
        return this.caseSensitive
          ? (item, search, textKey) => item[textKey].indexOf(search) > -1
          : undefined
      },

      as() {
        this.child = []
        this.selection.forEach(e => e.hasOwnProperty('children') ? false : this.child.push(e))
        return this.child

      },
      totalTime() {
        var total = 0
        this.child.forEach(e => total += parseInt(e.time))
        return total
      },
      totalPrice() {
        var total = 0
        this.child.forEach(e => total += parseInt(e.price))
        return total
      }
    },
    methods: {
      remove(item) {
        const index = this.child.indexOf(item)
        if (index >= 0) {
           console.log(this.child[index])
           this.child.splice(index, 1)
        }
      },

      setDialog(event) {
        //emitting the custom event with value
        //console.log("asd")
        eventBus.$emit('dialog', true)
        eventBus.$emit('act', this.active[0])
      },
    },
    created() {
      //listening for the custom event
      eventBus.$on('selection', (msg) => {
        this.selection.push(msg)
      })
    },
  };
</script>