<template>
    <v-layout v-touch="{
        left: () => swipe('Left'),
        right: () => swipe('Right'),
        up: () => swipe('Up'),
        down: () => swipe('Down')
      }">

        <v-flex>
            <v-layout wrap align-center>
                <v-flex xs12>
                    <h3 class="text-xs-center mt-2">Görüntü tipi</h3>
                </v-flex>
                <v-flex xs4 offset-xs4 class="mt-4">
                    <v-select v-model="type" :items="['day', 'week', 'month']" label="Görüntü tipi" solo>
                    </v-select>
                </v-flex>
                <v-flex>
                    <v-btn @click="start = new Date().toISOString().slice(0, 10)" round color="white">
                        <v-icon class="mr-2">date_range</v-icon>Bu gün
                    </v-btn>
                </v-flex>
            </v-layout>
            <v-layout wrap>
                <v-flex sm12 lg3 class="pa-3 mb-3 feature-pane">
                    <v-btn fab outline small absolute left color="primary" @click="$refs.calendar.prev()">
                        <v-icon dark>
                            keyboard_arrow_left
                        </v-icon>
                    </v-btn>
                    <v-btn fab outline small absolute right color="primary" @click="$refs.calendar.next()">
                        <v-icon dark>
                            keyboard_arrow_right
                        </v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>

            <br>
            <v-sheet>
                <mydialog></mydialog>
                <!-- now is normally calculated by itself, but to keep the calendar in this date range to view events -->
                <v-calendar v-model="start" ref="calendar" :now="today" :value="today" color="primary" :type="type"
                    @click:date="type = 'day', start = $event.date">

                    <!-- the events at the bottom (timed) -->
                    <template v-slot:dayBody="{ date, timeToY, minutesToPixels }">
                        <template v-for="event in eventsMap[date]">
                            <!-- timed events -->
                            <div v-if="event.time" :key="event.title"
                                :style="{ top: timeToY(event.time) + 'px', height: minutesToPixels(event.duration) + 'px' }"
                                class="my-event with-time dolu" @click="setDialog(event)" v-html="event.title"></div>
                        </template>
                    </template>
                </v-calendar>
            </v-sheet>
        </v-flex>
    </v-layout>
</template>

<script>
    import { eventBus } from '../eventbus'
    import mydialog from '../components/MyDialogBox'
    export default {
        components: {
            mydialog,

        },
        data: () => ({
            type: 'week',
            today: new Date().toISOString().slice(0, 10),
            start: new Date().toISOString().slice(0, 10),
            end: '2019-07-16',
            events: [
                {
                    title: 'Weekly Meeting',
                    date: new Date().toISOString().slice(0, 10),
                    time: '09:00',
                    duration: 45
                },
                {
                    title: 'Thomas\' Birthday',
                    date: '2019-07-15',
                    time: '12:30',
                    duration: 60
                },
                {
                    title: 'Thomas2\' Birthday',
                    date: '2019-07-15',
                    time: '13:30',
                    duration: 180
                },
                {
                    title: 'Mash Potatoes',
                    date: '2019-07-16',
                    time: '12:30',
                    duration: 180
                }
            ]
        }),
        computed: {
            // convert the list of events into a map of lists keyed by date
            eventsMap() {
                const map = {}
                this.events.forEach(e => (map[e.date] = map[e.date] || []).push(e))
                return map
            }
        },
        mounted() {
            this.$refs.calendar.scrollToTime('08:00')
        },
        methods: {
            swipe(direction) {
                if (direction == 'Right')
                    this.$refs.calendar.prev()
                if (direction == 'Left')
                    this.$refs.calendar.next()


            },
            open(event) {
                alert(event.title)
            },
            setDialog(event) {
                //emitting the custom event with value
                eventBus.$emit('dialog', true)
                eventBus.$emit('title', event.title)
            },
            changeCalendarType(type) {
                this.type = type
            },
        }
    }
</script>

<style lang="stylus" scoped>
    .dolu:hover {
        background-color: #1b7bc0;
        box-shadow: 0px 6px 5px rgba(0, 0, 0, .5);
    }

    .my-event {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 5px;
        background-color: #1867c0;
        color: #ffffff;
        border: 1px solid black;
        font-size: 12px;
        padding: 3px;
        cursor: pointer;
        margin-bottom: 1px;
        left: 4px;
        margin-right: 8px;
        position: relative;
    }

    .with-time {
        position: absolute;
        right: 4px;
        margin-right: 0px;
    }
</style>