<template>
  <v-card tile max-width="800" class="mx-auto">
    <v-card class="mx-auto elevation-20" color="primary" dark>
      <v-layout justify-space-between>
        <v-flex xs8>
          <v-card-title primary-title>
            <div>
              total{{totalTime}}
              <div class="headline">{{workers[$route.params.id].name}}</div><br><br>
              <div>
                <v-icon dark>location_on</v-icon>{{workers[$route.params.id].location}}
              </div>
            </div>
          </v-card-title>
        </v-flex>
        <v-img class="shrink ma-2" contain height="125px" :src="workers[$route.params.id].avatar"
          style="flex-basis: 125px"></v-img>
      </v-layout>
      <v-divider dark></v-divider>
      <v-card-actions class="pa-4">
        Xal ver
        <v-spacer></v-spacer>
        <span class="grey--text text--lighten-2 caption mr-2">
          ({{ rating }})
        </span>
        <v-rating v-model="rating" background-color="white" color="yellow accent-4" dense hover size="18"></v-rating>
      </v-card-actions>
    </v-card>

    <v-flex xs12>
      <template v-for="item in as">
        <v-chip class="ma-2" color="teal" text-color="white" @input="remove(item)">
          <v-avatar left>
            <v-icon>check_circle</v-icon>
          </v-avatar>
          {{ item.name }}
        </v-chip>
      </template>
    </v-flex>
    <v-text-field class="primary lighten-2" v-model="search" label="Xidmət axtar" dark flat solo-inverted hide-details
      clearable></v-text-field>
    <!--<v-checkbox v-model="caseSensitive" dark hide-details label="Case sensitive search"></v-checkbox>-->
    <v-layout>
      <v-flex xs6>
        <v-card class="pt-6 mx-auto" flat>
          <v-treeview transition dense open-on-click :active.sync="active" activatable v-model="selection" return-object
            :selection-type="selectionType" selectable :items="items" :search="search" :filter="filter"
            :open.sync="open">
            <template v-slot:append="{ item, open, active }">
            </template>
          </v-treeview>
        </v-card>
      </v-flex>
      <v-flex xs6>
        <v-card class="pt-6 mx-auto" flat>
          <v-card-text v-if="active[0]">
            <div class="mb-3">{{active[0].name}}</div>
            <b class=".title text--primary">
              {{active[0].description}}
            </b>
            <p class="mt-3">Tuttuğu zaman: <b>{{active[0].time}} dəq</b></p>
            <div class="text--primary">
              Qiymət: <b>{{active[0].price}} AZN</b>
            </div>
          </v-card-text>
          <v-card-text v-if="!active[0]" class="information" >
              <h3><i>Xidmət barədə məlumat <br> almaq üçün üzərinə klikləyin</i></h3>
            </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-flex xs4 offset-xs7 offset-sm9>
      <v-layout>
        <v-flex xs6 class="mt-4">
          <h3>{{totalPrice}} AZN</h3>
        </v-flex>
        <v-flex xs6>
          <v-btn class="ma-2" color="primary lighten-1 " @click="" fab>
            <router-link to="/customer-calendar" class="white--text" style="text-decoration: none;"><v-icon>done</v-icon></router-link>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-card>
</template>

<script>
  export default {
    data() {
      return {
        rating: 3,
        selectionType: 'leaf',
        selection: [],
        active: [],
        child: [],
        workers: [
          {
            id: 0,
            avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            name: 'Usta adı 1',
            location: "San Francisco, CA",
          },
          {
            id: 1,
            avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
            name: 'Usta adı 2',
            location: "San Francisco2, CA"
          },
          {
            id: 2,
            avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
            name: 'Usta adı 3',
            location: "San Francisco3, CA"
          }
        ],
        items: [
          {
            id: 2,
            name: 'Sac',
            children: [
              {
                id: 201,
                name: 'Kəsim',
                description: 'Kəsim well meaning and kindly "a benevolent smile"',
                price: '5',
                time: '20',
              },
              {
                id: 202,
                name: 'Rənglənmə',
                description: 'Rənglənmə well meaning and kindly "a benevolent smile"',
                price: '15',
                time: '15',
              },
              {
                id: 203,
                name: 'Fen',
                description: 'Fen well meaning and kindly "a benevolent smile"',
                price: '10',
                time: '10',
              }
            ],
          },
          {
            id: 3,
            name: 'Əl',
            children: [
              {
                id: 301,
                name: 'Dirnaq',
                description: 'Dirnaq well meaning and kindly "a benevolent smile"',
                price: '2',
                time: '5',
              },
              {
                id: 302,
                name: 'Pedikur',
                description: 'Pedikur well meaning and kindly "a benevolent smile"',
                price: '15',
                time: '15',
              },
            ],
          },
          {
            id: 4,
            name: 'Üz',
            children: [
              {
                id: 401,
                name: 'Gunluk makiyaj',
                description: 'Gunluk makiyaj well meaning and kindly "a benevolent smile"',
                price: '3',
                time: '15',
              },
              {
                id: 402,
                name: 'Dodaq',
                description: 'Dodaq well meaning and kindly "a benevolent smile"',
                price: '10',
                time: '5',
              },
              {
                id: 403,
                name: 'Qas',
                description: 'Qas well meaning and kindly "a benevolent smile"',
                price: '5',
                time: '20',
              },
            ],
          },

        ],
        open: [],
        search: null,
        caseSensitive: false,
      }
    },
    computed: {
      filter() {
        return this.caseSensitive
          ? (item, search, textKey) => item[textKey].indexOf(search) > -1
          : undefined
      },

      as() {
        this.child = []
        this.selection.forEach(e => e.hasOwnProperty('children') ? false : this.child.push(e))
        return this.child

      },
      totalTime() {
        var total = 0
        this.child.forEach(e => total += parseInt(e.time))
        return total
      },
      totalPrice() {
        var total = 0
        this.child.forEach(e => total += parseInt(e.price))
        return total
      }
    },
    methods: {
      remove(item) {

        const index = this.child.indexOf(item)

        if (index >= 0) {
          console.log(index)
          this.child.splice(index, 1)
        }
      },
    }
  }
</script>

<style scoped>
  .profile {
    position: absolute;
    z-index: 1;
  }
  .information{
    margin-top: 40px;
    margin-left: 20px;
  }
</style>