<template>
  <v-layout
    v-touch="{ left: () => swipe('Left'), right: () => swipe('Right'), up: () => swipe('Up'), down: () => swipe('Down') }"
  >
    <v-layout>
      <v-flex>
        <v-layout wrap align-center>
          <v-flex xs12>
            {{(addMinutesToTime('23:30', '2012-02-20', '5')).slice(6, 17)>bookedler[0].date}}
            {{diffTwoDates('2012-02-20', '2012-02-24')}}
            {{differenceMinutes('22:00', '2012-02-20', '22:05', '2012-02-21')}}
            <h3 class="text-xs-center mt-2">Görüntü tipi</h3>
          </v-flex>
          <v-flex xs4 offset-xs4 class="mt-4">
            <v-select
              v-model="type"
              :items="['day', '4day', 'week', 'month']"
              label="Görüntü tipi"
              solo
            ></v-select>
          </v-flex>
          <v-flex>
            <v-btn @click="start = new Date().toISOString().slice(0, 10)" round color="white">
              <v-icon class="mr-2">date_range</v-icon>Bu gün
            </v-btn>
          </v-flex>
        </v-layout>
        <v-layout wrap>
          <v-flex sm12 lg3 class="pa-3 mb-3 feature-pane">
            <v-btn fab outline small absolute left color="primary" @click="$refs.calendar.prev()">
              <v-icon dark>keyboard_arrow_left</v-icon>
            </v-btn>
            <v-btn fab outline small absolute right color="primary" @click="$refs.calendar.next()">
              <v-icon dark>keyboard_arrow_right</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
        <br>

        <v-sheet>
          <selectTimeDialog></selectTimeDialog>
          <v-calendar
            v-model="start"
            ref="calendar"
            :now="today"
            :value="today"
            color="primary"
            :type="type"
            class="calendar"
            @click:date="type = 'day', start = $event.date"
          >
            <template v-slot:dayBody="{ date, timeToY, minutesToPixels }">
              <template v-if="eve.duration >= searched_time" v-for="eve in neweventsMap[date]">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <div
                      v-if="eve.time"
                      :key="eve.title"
                      v-on="on"
                      :style="{ top: timeToY(eve.time) + 'px', height: minutesToPixels(eve.duration) + 'px' }"
                      class="empty"
                      @click="setDialog(eve, '1')"
                    ></div>
                  </template>
                  <span>Zaman seçmək üçün klikləyin</span>
                </v-tooltip>
              </template>

              <template v-if="eve.duration >= searched_time" v-for="eve in enneweventsMap[date]">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <div
                      v-if="eve.sstime"
                      :key="eve.title"
                      v-on="on"
                      :style="{ top: timeToY(eve.sstime) + 'px', height: minutesToPixels(eve.ssduration) + 'px' }"
                      class="emptynextday"
                      @click="setDialog(eve, '2')"
                    ></div>
                  </template>
                  <span>Zaman seçmək üçün klikləyin</span>
                </v-tooltip>
              </template>

              <template v-for="e in bookedMap[date]">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <div
                      v-if="e.time"
                      :key="e.title"
                      v-on="on"
                      :style="{ top: timeToY(e.time) + 'px', height: minutesToPixels(e.duration) + 'px' }"
                      class="booked"
                    ></div>
                  </template>
                  <span>Dolu</span>
                </v-tooltip>
              </template>

              <template v-for="e in newbookedMap[date]">
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <div
                      v-if="e.time"
                      :key="e.title"
                      v-on="on"
                      :style="{ top: timeToY(e.sstime) + 'px', height: minutesToPixels(e.ssduration) + 'px' }"
                      class="booked"
                    ></div>
                  </template>
                  <span>Dolu</span>
                </v-tooltip>
              </template>
            </template>
          </v-calendar>
        </v-sheet>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
import { eventBus } from "../eventbus";
import selectTimeDialog from "../components/SelectTimeDialogBox";
export default {
  components: {
    selectTimeDialog
  },
  data: () => ({
    type: "week",
    today: new Date().toISOString().slice(0, 10),
    start: new Date().toISOString().slice(0, 10),
    end: "2019-07-16",
    mytime: "05:00",
    myduration: "61",
    myday: "2019-07-16",
    searched_time: "1 ",
    newevents: [],
    ennewevents: [],
    booked: [],
    newbooked: [],

    bookedler: [
      {
        title: "salam ae kalxoz",
        date: "2019-07-22",
        time: "19:00",
        duration: 400
      }
    ],

    events: [
      {
        title: "Elisin kefi",
        date: "2019-07-22",
        time: "14:00",
        duration: 5000,
        booked: [
          {
            title: "salam ae kalxoz",
            date: "2019-07-22",
            time: "19:00",
            duration: 400
          }
        ]
      }
    ]
  }),
  computed: {
    // convert the list of events into a map of lists keyed by date
    eventsMap() {
      const map = {};
      this.events.forEach(e => (map[e.date] = map[e.date] || []).push(e));
      return map;
    },
    neweventsMap() {
      const map = {};
      this.newevents.forEach(e => (map[e.date] = map[e.date] || []).push(e));
      return map;
    },
    enneweventsMap() {
      const map = {};
      this.ennewevents.forEach(e => (map[e.date] = map[e.date] || []).push(e));
      return map;
    },
    lapneweventsMap() {
      const map = {};
      this.bookedler.forEach(e => (map[e.date] = map[e.date] || []).push(e));
      return map;
    },
    bookedMap() {
      const map = {};
      this.booked.forEach(e => (map[e.date] = map[e.date] || []).push(e));
      return map;
    },
    newbookedMap() {
      const map = {};
      this.newbooked.forEach(e => (map[e.date] = map[e.date] || []).push(e));
      return map;
    }
  },
  mounted() {
    this.$refs.calendar.scrollToTime("08:00");

    var arr = this.events;
    var newarr = this.newevents;
    var ennewarr = this.ennewevents;

    var book = this.bookedler;
    var booked = this.booked;
    var newbooked = this.newbooked;

    var sDuration = null;

    for (var t in book) {
      booked.push({
        title: book[t].title,
        date: book[t].date,
        time: book[t].time,
        duration: book[t].duration
      });

      var sonDate = this.addMinutesToTime(
        book[t].time.toString(),
        book[t].date.toString(),
        book[t].duration.toString()
      ).slice(6, 17);
      if (sonDate > book[t].date) {
        var gunDuration = this.diffTwoDates(
          book[t].date.toString(),
          sonDate.toString()
        );
        var newDuration =
          book[t].duration -
          this.diffTwoTimes(book[t].time.toString(), "24:00");
        var sss = book[t].date;
        for (var i = 1; i <= gunDuration - 1; i++) {
          newbooked.push({
            time: book[t].time,
            duration: book[t].duration,
            date: new Date(new Date(sss).setDate(new Date(sss).getDate() + i))
              .toISOString()
              .slice(0, 10),
            title: book[t].title + "1",
            sstime: "00:00",
            ssduration: 24 * 60
          });
          newDuration = newDuration - 24 * 60;
        }

        newbooked.push({
          time: book[t].time,
          duration: book[t].duration,
          date: new Date(
            new Date(sss).setDate(new Date(sss).getDate() + gunDuration)
          )
            .toISOString()
            .slice(0, 10),
          title: book[t].title + "1",
          sstime: "00:00",
          ssduration: newDuration
        });
      }
    }

    for (var e in arr) {
      if (arr[e].booked.length == 0) {
        newarr.push({
          title: arr[e].title,
          date: arr[e].date,
          time: arr[e].time,
          duration: arr[e].duration
        });
        var sonDate = this.addMinutesToTime(
          arr[e].time.toString(),
          arr[e].date.toString(),
          arr[e].duration.toString()
        ).slice(6, 17);
        if (sonDate > arr[e].date) {
          var gunDuration = this.diffTwoDates(
            arr[e].date.toString(),
            sonDate.toString()
          );
          var newDuration =
            arr[e].duration -
            this.diffTwoTimes(arr[e].time.toString(), "24:00");
          var sss = arr[e].date;
          for (var i = 1; i <= gunDuration - 1; i++) {
            ennewarr.push({
              time: arr[e].time,
              duration: arr[e].duration,
              date: new Date(new Date(sss).setDate(new Date(sss).getDate() + i))
                .toISOString()
                .slice(0, 10),
              title: arr[e].title + "1",
              sstime: "00:00",
              ssduration: 24 * 60
            });
            newDuration = newDuration - 24 * 60;
          }

          ennewarr.push({
            time: arr[e].time,
            duration: arr[e].duration,
            date: new Date(
              new Date(sss).setDate(new Date(sss).getDate() + gunDuration)
            )
              .toISOString()
              .slice(0, 10),
            title: arr[e].title + "1",
            sstime: "00:00",
            ssduration: newDuration
          });
        }
      } else {
        var aStartTime = arr[e].time;
        var aStartDate = arr[e].date;
        var bStartTime = arr[e].booked[0].time;
        var bStartDate = arr[e].booked[0].date;

        var aDuration = this.differenceMinutes(
          aStartTime.toString(),
          aStartDate.toString(),
          bStartTime.toString(),
          bStartDate.toString()
        );
        var aEndTime = bStartTime;
        var aEndDate = bStartDate;

        //bEnd = (this.addMinutesToTime(bStart, arr[e].booked[0].date, arr[e].booked[0].duration)).slice(0, 5);

        newarr.push({
          title: arr[e].title + " --- " + arr[e].booked[0].title,
          date: aStartDate,
          time: aStartTime,
          duration: aDuration
        });

        if (aEndDate > aStartDate) {
          var gunDuration = this.diffTwoDates(
            aStartDate.toString(),
            aEndDate.toString()
          );
          var sss = aStartDate;
          for (var i = 1; i <= gunDuration - 1; i++) {
            var sDate = new Date(
              new Date(sss).setDate(new Date(sss).getDate() + i)
            )
              .toISOString()
              .slice(0, 10);
            ennewarr.push({
              time: arr[e].time,
              duration: aDuration,
              date: sDate,
              title: arr[e].title + "1",
              sstime: "00:00",
              ssduration: 24 * 60
            });
          }

          sDuration = this.diffTwoTimes("00:00", aEndTime.toString());
          ennewarr.push({
            time: aStartTime,
            duration: aDuration,
            date: new Date(
              new Date(sss).setDate(new Date(sss).getDate() + gunDuration)
            )
              .toISOString()
              .slice(0, 10),
            title: arr[e].title + "1",
            sstime: "00:00",
            ssduration: sDuration
          });
        }

        let a = arr[e].booked.length - 1;
        var aStartTime = this.addMinutesToTime(
          arr[e].booked[a].time.toString(),
          arr[e].booked[a].date.toString(),
          arr[e].booked[a].duration.toString()
        ).slice(0, 5);
        var aStartDate = this.addMinutesToTime(
          arr[e].booked[a].time.toString(),
          arr[e].booked[a].date.toString(),
          arr[e].booked[a].duration.toString()
        ).slice(6, 17);
        //var bStartTime = arr[e].booked[0].time;
        //var bStartDate = arr[e].booked[0].date;

        var aEndTime = this.addMinutesToTime(
          arr[e].time.toString(),
          arr[e].date.toString(),
          arr[e].duration.toString()
        ).slice(0, 5);
        var aEndDate = this.addMinutesToTime(
          arr[e].time.toString(),
          arr[e].date.toString(),
          arr[e].duration.toString()
        ).slice(6, 17);

        var aDuration = this.differenceMinutes(
          aStartTime.toString(),
          aStartDate.toString(),
          aEndTime.toString(),
          aEndDate.toString()
        );

        ennewarr.push({
          time: aStartTime,
          duration: aDuration,
          date: aStartDate,
          title: arr[e].title + " --- " + arr[e].booked[a].title,
          sstime: aStartTime,
          ssduration: aDuration
        });

        if (aEndDate > aStartDate) {
          var gunDuration = this.diffTwoDates(
            aStartDate.toString(),
            aEndDate.toString()
          );
          var sss = aStartDate;
          for (var i = 1; i <= gunDuration - 1; i++) {
            var sDate = new Date(
              new Date(sss).setDate(new Date(sss).getDate() + i)
            )
              .toISOString()
              .slice(0, 10);
            ennewarr.push({
              time: arr[e].time,
              duration: aDuration,
              date: sDate,
              title: arr[e].title + "1",
              sstime: "00:00",
              ssduration: 24 * 60
            });
          }

          sDuration = this.diffTwoTimes("00:00", aEndTime.toString());
          ennewarr.push({
            time: aStartTime,
            duration: aDuration,
            date: new Date(
              new Date(sss).setDate(new Date(sss).getDate() + gunDuration)
            )
              .toISOString()
              .slice(0, 10),
            title: arr[e].title + "1",
            sstime: "00:00",
            ssduration: sDuration
          });
        }

        for (let a = 0; a < arr[e].booked.length - 1; a++) {
          var aStartTime = this.addMinutesToTime(
            arr[e].booked[a].time.toString(),
            arr[e].booked[a].date.toString(),
            arr[e].booked[a].duration.toString()
          ).slice(0, 5);
          var aStartDate = this.addMinutesToTime(
            arr[e].booked[a].time.toString(),
            arr[e].booked[a].date.toString(),
            arr[e].booked[a].duration.toString()
          ).slice(6, 17);

          var aEndTime = arr[e].booked[a + 1].time;
          var aEndDate = arr[e].booked[a + 1].date;

          var aDuration = this.differenceMinutes(
            aStartTime.toString(),
            aStartDate.toString(),
            aEndTime.toString(),
            aEndDate.toString()
          );

          ennewarr.push({
            time: aStartTime,
            duration: aDuration,
            date: aStartDate,
            title: arr[e].title + " --- " + arr[e].booked[a].title,
            sstime: aStartTime,
            ssduration: aDuration
          });

          if (aEndDate > aStartDate) {
            var gunDuration = this.diffTwoDates(
              aStartDate.toString(),
              aEndDate.toString()
            );
            var sss = aStartDate;
            for (var i = 1; i <= gunDuration - 1; i++) {
              var sDate = new Date(
                new Date(sss).setDate(new Date(sss).getDate() + i)
              )
                .toISOString()
                .slice(0, 10);
              ennewarr.push({
                time: arr[e].time,
                duration: aDuration,
                date: sDate,
                title: arr[e].title + "1",
                sstime: "00:00",
                ssduration: 24 * 60
              });
            }

            sDuration = this.diffTwoTimes("00:00", aEndTime.toString());
            ennewarr.push({
              time: aStartTime,
              duration: aDuration,
              date: new Date(
                new Date(sss).setDate(new Date(sss).getDate() + gunDuration)
              )
                .toISOString()
                .slice(0, 10),
              title: arr[e].title + "1",
              sstime: "00:00",
              ssduration: sDuration
            });
          }
        }
      }
    }
  },
  methods: {
    swipe(direction) {
      if (direction == "Right") this.$refs.calendar.prev();
      if (direction == "Left") this.$refs.calendar.next();
    },
    open(event) {
      alert(event.title);
    },
    setDialog(event, which) {
      eventBus.$emit("dialog", true);
      eventBus.$emit("title", event.title);
      eventBus.$emit("start", event.time);
      eventBus.$emit("duration", event.duration);
      eventBus.$emit("searched_time", this.searched_time);
      eventBus.$emit("date", event.date);
      eventBus.$emit("which", which);
    },
    changeCalendarType(type) {
      this.type = type;
    },

    addMinutesToTime(time, date, minutes) {
      var minsToAdd = minutes;
      var time = time;
      var date = date;
      var dd = new Date(
        new Date(date + " " + time).getTime() + minsToAdd * 60000
      );
      var ddTime = dd.toLocaleTimeString("en-UK", {
        hour: "2-digit",
        minute: "2-digit",
        hour12: false
      });
      var ddDate = "" + dd.getDate();
      if (ddDate.length < 2) ddDate = "0" + ddDate;
      var ddMonth = "" + (dd.getMonth() + 1);
      if (ddMonth.length < 2) ddMonth = "0" + ddMonth;
      var ddYear = dd.getFullYear();
      return ddTime + " " + ddYear + "-" + ddMonth + "-" + ddDate;
    },

    diffTwoTimes(date1, date2) {
      var d1 = date1;
      var d2 = date2;
      d1 = 60 * parseInt(d1.slice(0, 2)) + parseInt(d1.slice(3, 5));
      d2 = 60 * parseInt(d2.slice(0, 2)) + parseInt(d2.slice(3, 5));
      if (date1 > date2) {
        d2 += 1440;
      }

      return d2 - d1;
    },

    diffTwoDates(date1, date2) {
      var date1 = new Date(date1);
      var date2 = new Date(date2);
      const diffTime = Math.abs(date2.getTime() - date1.getTime());
      const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
      return diffDays;
    },

    differenceMinutes(time1, date1, time2, date2) {
      var d1 = new Date(time1 + " " + date1);
      var d2 = new Date(time2 + " " + date2);
      var diffTime = Math.abs(d2 - d1);
      diffTime = Math.ceil(diffTime / (1000 * 60));
      return diffTime;
    }
  }
};
</script>

<style lang="stylus" scoped>
.empty:hover {
  background-color: #4fc01b96;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}

.emptynextday:hover {
  background-color: #4fc01b96;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}

.empty {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0px;
  background-color: rgba(251, 255, 0, 0.274);
  color: #000000;
  border: 1px solid black;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
  left: 0px;
  position: absolute;
  right: 0px;
}

.emptynextday {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0px;
  background-color: rgba(251, 255, 0, 0.274);
  color: #000000;
  border: 1px solid black;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
  left: 0px;
  position: absolute;
  right: 0px;
  border-top: none;
}

.booked {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border: 1px solid black;
  font-size: 12px;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 1px;
  left: 0px;
  position: absolute;
  right: 0px;
  cursor: default;
}
</style>