<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card class="mx-2 mt-5">
                <v-card-title>
                    <span class="title">Kod doğrulama</span>
                </v-card-title>
                <form class="pa-5">
                    <v-layout row wrap>
                        <v-flex sm6 offset-sm3>
                            <v-text-field class="display-1" mask="# # # #" solo v-model="code"
                                :error-messages="codeErrors" label="Doğrulama kodunu daxil edin" required
                                @input="$v.code.$touch()" @blur="$v.code.$touch()"></v-text-field>
                        </v-flex>
                        <v-flex sm6 offset-sm3>
                            <v-btn class="pr-3" @click="submit" outline color="indigo" block>Təsdiqlə</v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    import { validationMixin } from 'vuelidate'
    import { required, minLength, email } from 'vuelidate/lib/validators'
    export default {

        mixins: [validationMixin],

        validations: {
            code: { required }
        },
        methods: {
            submit() {
                this.$v.$touch()
            }
        },
        data() {
            return {
                code: '',
                as: '',
            }
        },
        computed: {
            codeErrors() {
                const errors = []
                if (!this.$v.code.$dirty) return errors
                !this.$v.code.required && errors.push('Code is required.')
                return errors
            },
        }

    }
</script>

<style scoped>
    input {
        text-align: center;
    }
</style>