<template>
    <div>
        <v-flex xs10 offset-xs1>
            <h1 class="text-xs-center">Axtar</h1>
            <v-toolbar tabs flat>
                <v-text-field v-model="search" append-icon="mic" class="mx-3" label="Search" prepend-inner-icon="search"
                    solo>
                </v-text-field>
                <template v-slot:extension :search="search">
                    <v-tabs v-model="tabs" centered color="transparent" slider-color="white">
                        <v-tabs-slider color="red"></v-tabs-slider>
                        <v-tab v-for="n in serviceType" :key="n">
                            {{ n }}
                        </v-tab>
                    </v-tabs>
                </template>
            </v-toolbar>

            <v-tabs-items v-model="tabs">
                <v-tab-item v-for="n in 3" :key="n">
                    <v-list two-line>
                        <template v-if="n==1" v-for="(company, index) in companies">
                            <v-divider :key="index" :inset="company.inset"></v-divider>

                            <v-list-tile :key="company.title" avatar @click="">
                                <v-list-tile-avatar>
                                    <img :src="company.avatar">
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title v-html="company.title"></v-list-tile-title>
                                    <v-list-tile-sub-title>
                                        <v-icon>location_on</v-icon>{{company.subtitle}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                        <div v-if="n==2">
                            <v-btn @click="sec(companies)">Sirket</v-btn>
                            <v-btn @click="sec(workers)">Xidmet veren</v-btn>
                        </div>
                        <template v-if="n==2" v-for="(item, index) in secilmis">
                            <v-divider :key="index" :inset="item.inset"></v-divider>
                            <v-list-tile :key="item.title" avatar @click="">
                                <v-list-tile-avatar>
                                    <img :src="item.avatar">
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                    <v-list-tile-sub-title>
                                        <v-icon>location_on</v-icon>{{item.subtitle}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                        <template v-if="n==3" v-for="(worker, index) in workers">
                            <v-divider :key="index" :inset="worker.inset"></v-divider>

                            <v-list-tile :key="worker.title" avatar @click="asdf(worker.id)">
                                <v-list-tile-avatar>
                                    <img :src="worker.avatar">
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title>{{worker.title}}</v-list-tile-title>
                                    <v-list-tile-sub-title>
                                        <v-icon>location_on</v-icon>{{worker.subtitle}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </v-list>
                </v-tab-item>
            </v-tabs-items>
        </v-flex>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tabs: null,
                search: '',
                secilmis: [],
                serviceType: ['Şirkət', 'Xidmət növü', 'Xidmət verən'],
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                companies: [
                    {
                        id: 0,
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                        title: 'Şirkət adı 1',
                        subtitle: "San Francisco, CA"
                    },
                    {
                        id: 1,
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
                        title: 'Şirkət adı 2',
                        subtitle: "San Francisco2, CA"
                    },
                    {
                        id: 1,
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
                        title: 'Şirkət adı 3',
                        subtitle: "San Francisco3, CA"
                    }
                ],
                workers: [
                    {
                        id: 0,
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
                        title: 'Usta adı 1',
                        subtitle: "San Francisco, CA"
                    },
                    {
                        id: 1,
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
                        title: 'Usta adı 2',
                        subtitle: "San Francisco2, CA"
                    },
                    {
                        id: 2,
                        avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
                        title: 'Usta adı 3',
                        subtitle: "San Francisco3, CA"
                    }
                ]
            }
        },
        methods: {
            sec(n) {
                this.secilmis = n
            },
            asdf(w) {
                this.$router.push("/chooseservice/" + w)
            }
        }
    }
</script>