<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="mx-2 mt-5">
        <v-card-title>
          <span class="title">Daxil ol</span>
        </v-card-title>
        <form class="pa-5">
          <v-layout row wrap>
            <v-flex xs2>
              <v-text-field v-model="code" label="+994" disabled></v-text-field>
            </v-flex>
            <v-flex xs2 offset-xs1>
              <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" required>
              </v-select>
            </v-flex>
            <v-flex xs6 offset-xs1>
              <v-text-field mask="###-##-##" v-model="phone" :error-messages="phoneErrors" label="Telefon" required
                autocomplete="phone" @input="$v.phone.$touch()" @blur="$v.phone.$touch()"></v-text-field>
            </v-flex>
          </v-layout>
          <v-text-field :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"
            autocomplete="current-password" :append-icon="show1 ? 'visibility' : 'visibility_off'" v-model="password"
            :error-messages="passwordErrors" label="Parol" required @input="$v.password.$touch()"
            @blur="$v.password.$touch()"></v-text-field>

          <v-btn @click="submit" class="right " outline color="indigo">Daxil ol</v-btn>
        </form>
        <p>
          <router-link to="qeydiyyat" class="right">Qeydiyatdan keç</router-link>
        </p>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import axios from "axios"
  import { validationMixin } from 'vuelidate'
  import { required, minLength, email } from 'vuelidate/lib/validators'

  export default {
    name: 'signin',
    components: {

    },
    mixins: [validationMixin],

    validations: {
      name: { required },
      surname: { required },
      phone: { required },
      password: { required, minLength: minLength(8) },
      email: { required, email },
      checkbox: {
        checked(val) {
          return val
        }
      }
    },
    data: function () {
      return {
        code: '',
        show1: false,
        select: '050',
        password: '',
        phone: '',
        items: [
          '050',
          '055',
          '070',
          '077'
        ],
      }
    },
    methods: {
      submit() {
        this.$v.$touch()
      },
    },
    computed: {
      phoneErrors() {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.required && errors.push('Phone is required.')
        return errors
      },
      passwordErrors() {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.minLength && errors.push('Password must be at least 8 characters long')
        !this.$v.password.required && errors.push('Password is required.')
        return errors
      },
    }
  }
</script>