<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <v-card class="mx-2 mt-5">
        <v-card-title>
          <span class="title">Hesab aç</span>
        </v-card-title>
        <form class="pa-5">
          <v-text-field v-model="name" :error-messages="nameErrors" label="Ad" required @input="$v.name.$touch()"
            @blur="$v.name.$touch()"></v-text-field>
          <v-text-field v-model="surname" :error-messages="surnameErrors" label="Soyad" required
            @input="$v.surname.$touch()" @blur="$v.surname.$touch()"></v-text-field>
          <v-text-field v-model="email" :error-messages="emailErrors" label="E-mail" required @input="$v.email.$touch()"
            @blur="$v.email.$touch()"></v-text-field>
          <v-layout row wrap>
            <v-flex xs2>
              <v-text-field v-model="code" label="+994" disabled></v-text-field>
            </v-flex>
            <v-flex xs2 offset-xs1>
              <v-select v-model="select" :items="items" :rules="[v => !!v || 'Item is required']" required>
              </v-select>
            </v-flex>
            <v-flex xs6 offset-xs1>
              <v-text-field mask="###-##-##" v-model="phone" :error-messages="phoneErrors" label="Telefon" required
                autocomplete="phone" @input="$v.phone.$touch()" @blur="$v.phone.$touch()"></v-text-field>
            </v-flex>
          </v-layout>
          <v-text-field :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"
            autocomplete="current-password" :append-icon="show1 ? 'visibility' : 'visibility_off'" v-model="password"
            :error-messages="passwordErrors" label="Parol" required @input="$v.password.$touch()"
            @blur="$v.password.$touch()"></v-text-field>
          <v-dialog ref="dialog" v-model="modal" :return-value.sync="date" persistent lazy full-width width="290px">
            <template v-slot:activator="{ on }">
              <v-text-field v-model="date" label="Doğum tarixi" append-icon="event" readonly v-on="on"
                autocomplete="birthday">
              </v-text-field>
            </template>
            <v-date-picker v-model="date" scrollable>
              <v-spacer></v-spacer>
              <v-btn flat color="primary" @click="modal = false">Ləğv et</v-btn>
              <v-btn flat color="primary" @click="$refs.dialog.save(date)">Təstiqlə</v-btn>
            </v-date-picker>
          </v-dialog>

          <v-checkbox v-model="checkbox" :error-messages="checkboxErrors" label="Şərtlərlə razıyam" required
            @change="$v.checkbox.$touch()" @blur="$v.checkbox.$touch()"></v-checkbox>
          <v-btn @click="submit" outline color="indigo">Qeydiyyat</v-btn>
          <v-btn @click="clear" outline color="indigo">Ekrani təmizlə</v-btn>
        </form>
        <p>
          <router-link to="daxil-ol" class="right">Log in səhifəsinə keçid</router-link>
        </p>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, minLength, email } from 'vuelidate/lib/validators'

  export default {
    mixins: [validationMixin],

    validations: {
      name: { required },
      surname: { required },
      phone: { required },
      password: { required, minLength: minLength(8) },
      email: { required, email },
      checkbox: {
        checked(val) {
          return val
        }
      }
    },

    data: () => ({
      name: '',
      code: '',
      select: '050',
      surname: '',
      password: '',
      phone: '',
      email: '',
      show1: false,
      checkbox: false,
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false,
      menu2: false,
      items: [
        '050',
        '055',
        '070',
        '077'
      ],
    }),

    computed: {
      checkboxErrors() {
        const errors = []
        if (!this.$v.checkbox.$dirty) return errors
        !this.$v.checkbox.checked && errors.push('You must agree to continue!')
        return errors
      },
      nameErrors() {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      phoneErrors() {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.required && errors.push('Phone is required.')
        return errors
      },
      surnameErrors() {
        const errors = []
        if (!this.$v.surname.$dirty) return errors
        !this.$v.surname.required && errors.push('Surname is required.')
        return errors
      },
      passwordErrors() {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.minLength && errors.push('Password must be at least 8 characters long')
        !this.$v.password.required && errors.push('Password is required.')
        return errors
      },
      emailErrors() {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      }
    },

    methods: {
      submit() {
        this.$v.$touch()
        this.$router.push('/verification')
      },
      clear() {
        this.$v.$reset()
        this.name = ''
        this.surname = ''
        this.phone = ''
        this.password = ''
        this.email = ''
        this.select = '050'
        this.checkbox = false
      }
    }
  }
</script>