<template>

    <v-dialog v-model="dialog" max-width="290">
        <v-card>
            <v-card-title class="headline">Use Google's location service?</v-card-title>

            <v-form>
                <v-container grid-list-xl>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field v-model="act.description" label="Xidmət haqqında məlumat" clearable>
                            </v-text-field>
                            <v-text-field v-model="act.time" label="Xidmətin tutuduğu zaman" clearable></v-text-field>
                            <v-text-field v-model="act.price" label="Xidmətin dəyəri" clearable></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-form>

            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" flat="flat" @click="dialog = false">
                    Disagree
                </v-btn>

                <v-btn color="green darken-1" flat="flat" @click="setSelected(act)">
                    Agree
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import { eventBus } from '../eventbus'
    export default {
        data() {
            return {
                dialog: false,
                act: [],
            }
        },
        methods: {
            setSelected(setSelected) {
                //console.log("asd")
                eventBus.$emit('selection', setSelected)
                
                this.dialog = false
            }
        },
        created() {
            //listening for the custom event
            eventBus.$on('dialog', (msg) => {
                this.dialog = msg
            })

            eventBus.$on('act', (msg) => {
                this.act = msg
            })
        },


    }
</script>