<template>

  <v-navigation-drawer v-model="drawer" :mini-variant="mini" absolute  temporary>
    <v-list class="pa-1">
      <v-list-tile v-if="mini" @click.stop="mini = !mini">
        <v-list-tile-action>
          <v-icon>chevron_right</v-icon>
        </v-list-tile-action>
      </v-list-tile>

      <v-list-tile avatar tag="div">
        <v-list-tile-avatar>
          <img src="https://randomuser.me/api/portraits/men/85.jpg">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title>John Leider</v-list-tile-title>
        </v-list-tile-content>

        <v-list-tile-action>
          <v-btn icon @click.stop="mini = !mini">
            <v-icon>chevron_left</v-icon>
          </v-btn>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

    <v-list class="pt-0" dense>
      <v-divider light></v-divider>

      <v-list-tile v-for="item in items" :key="item.title">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title><router-link :to="item.link">{{ item.title }}</router-link></v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <v-layout wrap v-if="!mini">
      <v-flex xs10 offset-xs1>
        <v-btn outline block>Servis axtar</v-btn>
      </v-flex>
      <v-flex xs10 offset-xs1>
        <v-select v-model="selectedgiveService" :items="giveService" label="Xidmət ver" solo light @change="goTo(selectedgiveService)"></v-select>
      </v-flex>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
  import { eventBus } from '../eventbus'
  export default {
    data() {
      return {
        drawer: false,
        selectedgiveService: 'false',
        giveService: ['Fərdi', 'Şirkət'],
        items: [
          { title: 'Home', icon: 'home', link: '/' },
          { title: 'Daxil Ol', icon: 'dashboard', link: '/daxil-ol' },
          { title: 'Qeydiyyat', icon: 'question_answer', link: '/qeydiyyat' },
          { title: 'Calendar', icon: 'calendar_today', link: '/calendar' },
          { title: 'Customer Calendar', icon: 'calendar_today', link: '/customer-calendar' },
        ],
        mini: false,
        right: null
      }
    },
    mounted() {
      //listening for the custom event
      eventBus.$on('drawer', (msg) => {
        this.drawer = msg
      })
    },
    methods: {
      goTo(service){
        if(service == 'Fərdi'){
          this.$router.push('/privateservice')
        }
      }
    }
  }
</script>