<template>
    <v-btn @click="$vuetify.goTo(0, 0)"
        style="position: fixed; bottom: 30px; right: 30px; background-color: #aa00ff;" fab>
        <v-icon large dark>keyboard_arrow_up
        </v-icon>
    </v-btn>
</template>