<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog">
            <v-time-picker :landscape="!$vuetify.breakpoint.xs" v-model="time" format="24hr" full-width scrollable
                class="mt-3"></v-time-picker>
            <v-card>
                <v-card-title>Tarix: {{date}}</v-card-title>
                <v-card-text v-if="checkTime" class="title">
                    <b>Seçdiyiniz xidmət üçün {{start}} və {{ myEndTime }} aralığnda bir
                        zaman təyin edin</b>
                    <br>
                    <br>
                    Book etmek istedyiniz tarix ve saat araligi: <br>
                    Tarix: {{nextDayOrNot}} <br>
                    Saat: {{time}} - {{addMinutesToTime(time, searched_time)}}<br>
                </v-card-text>
                <v-alert :value="!checkTime" type="error">
                    <p>Seçdilmiş vaxt {{start}} və {{ myEndTime }} aralığnda olmalıdır.</p>
                </v-alert>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" flat @click="dialog = false">Ləğv et</v-btn>
                    <v-btn v-if="checkTime" color="green darken-1" flat @click="dialog = false">Qəbul et</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>


<script>
    import { eventBus } from '../eventbus'
    export default {
        data() {
            return {
                dialog: false,
                time: '',
                date: new Date(),
                title: '',
                start: '',
                duration: '',
                searched_time: '',
                landscape: "landscape",
                windowWidth: '',
                myEndTime: '',
                which: '1'
            }
        },
        created() {
            //listening for the custom event
            eventBus.$on('dialog', (msg) => {
                this.dialog = msg
            })

            eventBus.$on('title', (msg) => {
                this.title = msg
            })

            eventBus.$on('start', (msg) => {
                this.start = msg
                this.time = msg
            })

            eventBus.$on('duration', (msg) => {
                this.duration = msg
            })

            eventBus.$on('searched_time', (msg) => {
                this.searched_time = msg
            })

            eventBus.$on('date', (msg) => {
                this.date = msg
            })

            eventBus.$on('which', (msg) => {
                this.which = msg
            })

        },
        methods: {
            endTime(start, duration, searched_time) {
                var minsToAdd = duration;
                var minsToSub = searched_time;
                var time = start;
                return new Date(new Date("1970/01/01 " + time).getTime() + minsToAdd * 60000 - minsToSub * 60000).toLocaleTimeString('en-UK', { hour: '2-digit', minute: '2-digit', hour12: false });

            },
            addMinutesToTime(time, minutes) {
                var minsToAdd = minutes;
                var time = time;
                return new Date(new Date("1970/01/01 " + time).getTime() + minsToAdd * 60000).toLocaleTimeString('en-UK', { hour: '2-digit', minute: '2-digit', hour12: false });

            },
        },
        computed: {
            checkTime() {
                this.myEndTime = this.endTime(this.start, this.duration, this.searched_time)
                var tim = this.time
                if (this.start > this.myEndTime) {
                    if (tim >= '00:00' && tim <= this.myEndTime) {
                        var minutes = tim.slice(3, 5);
                        var hours = parseInt(tim.slice(0, 2)) + 24;
                        tim = hours + ':' + minutes
                    }
                    else {
                        var minutes = this.myEndTime.slice(3, 5);
                        if (parseInt(this.myEndTime.slice(0, 2)).toString().length == 1)
                            var hours = '0' + parseInt(this.myEndTime.slice(0, 2))
                        else
                            var hours = parseInt(this.myEndTime.slice(0, 2))
                        this.myEndTime = hours + ':' + minutes
                    }

                }
                if (this.start < this.myEndTime) {

                    if (tim >= this.start && tim <= this.myEndTime)
                        return true
                    else
                        return false

                }

                else {

                    if (tim >= this.start && tim <= '23:59' || this.time >= '00:00' && this.time <= this.myEndTime)
                        return true
                    else
                        return false
                }



            },
            nextDayOrNot() {
                console.log("time ", this.time)
                console.log("start ", this.start)

                if (this.which == '1')
                    if (this.time >= this.start)
                        return this.date //new Date(new Date(arr[e].date).setDate(new Date(arr[e].date).getDate() + 1)).toISOString().slice(0, 10)
                    else
                        return new Date(new Date(this.date).setDate(new Date(this.date).getDate() + 1)).toISOString().slice(0, 10)

                if (this.which == '2')
                    if (this.time < this.addMinutesToTime(this.start, this.duration))
                        return this.date //new Date(new Date(arr[e].date).setDate(new Date(arr[e].date).getDate() + 1)).toISOString().slice(0, 10)
                    else
                        return new Date(new Date(this.date).setDate(new Date(this.date).getDate() - 1)).toISOString().slice(0, 10)
            }
        }
    }
</script>