<template>
  <v-toolbar dark color="primary">
    <v-toolbar-side-icon @click.stop="setDrawer"></v-toolbar-side-icon>



    
      <v-icon dark @click="$router.go(-1);" class="ml-2">arrow_back_ios</v-icon>
    <v-spacer></v-spacer>
    <v-toolbar-title  ><router-link to="/" class="white--text" style="text-decoration: none;">AppointmentSystem</router-link></v-toolbar-title>
  </v-toolbar>
</template>

<script>
  import { eventBus } from '../eventbus'
  export default {
    methods: {
      setDrawer() {
        eventBus.$emit('drawer', true)
      }
    },
  }
</script>