<template>

  <v-app>
    <v-content>
      <navdrawer></navdrawer>
      <toolbar></toolbar>
      <v-container>
        <div id="app" v-scroll="onScroll">
          <router-view />
        </div>
      </v-container>
      <div v-if="offsetTop > 300">
        <ScrollUpButton></ScrollUpButton>
      </div>
    </v-content>
  </v-app>

</template>

<script>
  import navdrawer from './components/NavigationDrawer'
  import toolbar from './components/Toolbar'
  import ScrollUpButton from './components/ScrollUpButton'

  export default {
    data() {
      return {
        offsetTop: 0
      }
    },
    components: {
      navdrawer,
      toolbar,
      ScrollUpButton
    },
    methods: {
      onScroll(e) {
        this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      }
    }
  }
</script>